{
    "output": "readme-tester.phar",
    "directories": [
        "src",
        "vendor"
    ],
    "files-bin": [
        "readme-tester.yaml.dist"
    ],
    "compactors": [
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "algorithm": "SHA512",
    "chmod": "0555"
}
