<phpunit bootstrap="./vendor/autoload.php">
    <testsuite name="default">
        <directory>./tests</directory>
    </testsuite>
    <testsuite name="readme">
        <file>./tests/PHPUnit/ReadmeIntegration.php</file>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
