<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="\hanneskod\readmetester\Phpunit\TestListener">
            <arguments>
                <string>README.md</string>
            </arguments>
        </listener>
    </listeners>
</phpunit>
