runner: process

input_format: markdown

output_format: default

subscribers: []

bootstrap:
    - vendor/autoload.php

paths: []

ignore_paths:
    - vendor

file_extensions:
    - md
    - mdown
    - markdown

stop_on_failure: false
